.navigationBar{
    margin-left: 42%;
    width: 18rem;
    height: 4rem;
    background-color: #EF476F;
    border-radius:0 0 30px 30px;
}
.navigationBar_list{
    padding: 0;
    margin: 0 0 0 18px;
}
.navigationBar_list img{
    padding: 1rem;
    width: 30px;
    height: 30px;
    transition: transform .5s;
}
.navigationBar_list img:hover{
    transform: scale(1.5)
}
.navigationBar_list li a {
    color: white;
    text-decoration: none;
}