.navigationBar {
  margin-left: 15px;
  width: 18rem;
  height: 4rem;
  background-color: #ef476f;
  border-radius: 0 0 30px 30px;
}
.navigationBar_list {
  padding: 0;
  margin: 0 0 0 18px;
}
.navigationBar_list svg {
  padding: 1rem;
  width: 30px;
  height: 30px;
}
.navigationBar_list p {
  display: none;
}
.navigationBar_list li a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .navigationBar {
    margin-left: 0;
    z-index: 111;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0;
  }
  .navigationBar_list svg {
    padding: 1rem 1.7rem;
  }
}
