.intro_section{
    display: flex;
}
.intro_section_name{
    padding: 12% 3% 5% 5%;
    width: 100%;
    color: white;
    text-align: left;
}
.intro_section_name h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0.5rem 0px 1rem;
}
.intro_section_name h2{
    color: #e2e8f0;
    font-size: 1.5rem;
    font-weight: 400;
}
.intro_section_name i q{
    color: #BC8747;
    font-size: 18px;
    font-weight: 600;
}
.intro_section_name button {
    background: #118AB2;
    border: none;
    border-radius: 22px;
    padding: .7rem 1rem;
    font-size: 17px;
    color: white;
    font-weight: 100;
}
@media only screen and (max-width: 600px) {
    .intro_section_name{
        padding: 12% 3% 20% 5%;
    }
  }
  