.edu_work{
    display: flex;
    justify-content: space-around;
}
/* .experience{
    display: flex;
    justify-content: space-evenly;
}
.experience_data{
    padding: 0 0 0rem 10rem;
    width: 30%;
} */
.experience_data_subheading{
    color: white;
}
.experience_data h3{
    color: #BC8747;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 0 0 4rem;
}
.resume img{
    width: 100vm;
    height: 500px;
}